# .gitignore
*~
ESData*

# Ignore logs and results
logs/
results/

# project below top level
project/project/
project/target/

# ignore IntelliJ workspace (but not other project files)
.idea/
.idea_modules

# ignore sbt output
target/

# symbolic links
scaladata
scalautil
vrp-model

